---
layout: default
title: About
permalink: /about/
---

<section class="about-page">

  <!-- ABOUT INTRO -->
  <section class="about-intro">
    <h1>About</h1>

    <div class="about-intro-card">
      <div class="about-photo">
        <img src="{{ '/images/sakshi-about2.jpg' | relative_url }}" alt="Sakshi Sharma">
      </div>

      <div class="about-text">
        <div class="about-header">
  <span class="about-name">Sakshi Sharma,</span>
  <span class="about-degree">M.Sc. Bioinformatics</span>
  <div class="about-tagline">Computational Biology Researcher</div>
</div>

        <p>
          Hi, I’m Sakshi Sharma, an Indian computational biologist working at the intersection of biology and artificial intelligence. My work focuses on building machine learning models to understand disease progression and support better clinical decision-making. What drives me in this field is the idea that when interpreted thoughtfully, biological data can change how we understand and treat disease.
        </p>

        <p>
          My journey into this field was not linear. I began with a strong foundation in biology, aspiring to pursue medicine. Over time, my curiosity shifted toward understanding the underlying mechanisms of disease and how data could be used to study them. This transition led me to bioinformatics, where I discovered the potential of combining computational methods with biological insight to solve complex problems.
        </p>

        <p>
          During my postgraduate studies in Bioinformatics at Jamia Millia Islamia, I worked on projects involving transcriptomic data analysis, RNA-seq pipelines, and machine learning applications in biomedical contexts. Through these experiences, I gained a deeper understanding of both the technical and biological aspects of data-driven research.
        </p>

     <p>
      I'm keen to advance my work in deep learning, multi-omics integration, and single-cell data analysis. I hope to build models that are not just technically strong but also useful in real clinical settings. For me, it’s important that my work contributes to healthcare that is not only advanced but also more accessible—leveraging computational approaches to enable early diagnosis, better treatment strategies, and equitable care.
      </p>

<p>
Beyond technical skills, I consider my strongest qualities to be curiosity, adaptability, and the ability to learn deeply. More than anything, I try to stay curious, keep learning, and approach things with an open mind.</p>

 <p>
Outside of research, I have a deep appreciation for fiction—both in literature and movies. I love doing Yoga. Yoga has been a part of my life for as long as I can remember; it’s something I genuinely enjoy and return to, much like a favorite routine. I also love cooking my own meals, especially keeping them simple, healthy, and something I can enjoy creating.
</p>
        <a href="{{ '/assets/files/Sakshi_Sharma_CV.pdf' | relative_url }}" class="cv-btn" target="_blank">
          Check My CV
        </a>
      </div>
    </div>
  </section>

  <!-- EDUCATION -->
  <section class="timeline-section">
    <h2>Education</h2>

    <div class="timeline">
      <div class="timeline-line"></div>

      <div class="timeline-row row-top">
        <div class="timeline-item">
  <div class="timeline-year">2023–2025</div>
  <div class="timeline-dot"></div>
  <div class="timeline-card">
  <h3>MSc Bioinformatics</h3>

  <a href="https://www.jmi.ac.in/" target="_blank" class="institution-image-link">
    <img src="{{ '/images/jmi2.jpg' | relative_url }}" alt="Jamia Millia Islamia" class="institution-image">
  </a>

  <p>
    <a href="https://www.jmi.ac.in/" target="_blank" class="institution-link">
      Jamia Millia Islamia, New Delhi
    </a>
  </p>

  <div class="edu-text-block">
  <p class="edu-text">
    Built a strong foundation in computational biology and genomics, working closely with transcriptomic data, RNA-seq pipelines, and machine learning approaches in biomedical research. Alongside academics, I served as Class Representative in my first year and enjoyed actively engaging with peers and juniors through senior–junior interaction sessions and graduated with the 2nd rank in the program.

<span style="display:block; margin-top:10px; font-family:'Manrope', sans-serif; color:#44586b; font-size:0.95rem; font-weight:500;">
<span style="font-weight:700; color:#44586b; font-style:italic;">GPA: </span> 9.72 / 10
</span>
</p>

  <span class="edu-toggle" onclick="toggleEduText(this)">...more</span>
</div>
</div>
</div>

        <div class="timeline-item">
  <div class="timeline-year">2019–2022</div>
  <div class="timeline-dot"></div>
  <div class="timeline-card">
  <h3>BSc Zoology (Hons.)</h3>

  <a href="https://www.deshbandhucollege.ac.in/" target="_blank" class="institution-image-link">
    <img src="{{ '/images/du.png' | relative_url }}" alt="University of Delhi" class="institution-image">
  </a>

  <p>
    <a href="https://www.deshbandhucollege.ac.in/" target="_blank" class="institution-link">
      University of Delhi, Deshbandhu College, Delhi
    </a>
  </p>

<div class="edu-text-block">
  <p class="edu-text">
    Developed a strong foundation in core biological sciences, including genetics, physiology, and evolution. Gained early exposure to research through scientific writing, survey design, and statistical analysis under the DBT Star College program, and had the opportunity to participate in international conferences during this time.
<span style="display:block; margin-top:10px; font-family:'Manrope', sans-serif; color:#44586b; font-size:0.95rem; font-weight:500;">
<span style="font-weight:700; color:#44586b; font-style:italic;">GPA: </span> 8.959 / 10
</span>
</p>

  <span class="edu-toggle" onclick="toggleEduText(this)">...more</span>
</div>
</div>
</div>

        <div class="timeline-item">
  <div class="timeline-year">Before 2019</div>
  <div class="timeline-dot"></div>
  <div class="timeline-card">
  <h3>Schooling</h3>

  <a href="https://www.notredamedelhi.com/" target="_blank" class="institution-image-link">
    <img src="{{ '/images/school.jpg' | relative_url }}" alt="School" class="institution-image">
  </a>

  <p>
    <a href="https://www.notredamedelhi.com/" target="_blank" class="institution-link">
      Notre Dame School, Delhi
    </a>
  </p>
<div class="edu-text-block">
  <p class="edu-text">
    Completed my schooling in the Science stream with Physics, Chemistry, Mathematics, and Biology (PCMB) in senior secondary, with Biology being my strongest subject, securing the first rank in school.
<span style="display:block; margin-top:10px; font-family:'Manrope', sans-serif; color:#44586b; font-size:0.95rem; font-weight:500;">
<span style="font-weight:700; color:#44586b; font-style:italic;">Percentage: </span> 91 %
</span>
  </p>

  <span class="edu-toggle" onclick="toggleEduText(this)">...more</span>
</div>
</div>
</div>
      </div>
    </div>
  </section>

 <!-- WORK EXPERIENCE -->
<section class="work-section">
  <h2>Work Experience</h2>

  <div class="work-cards">

    {% for job in site.data.work %}
    <div class="work-card {% if job.reverse %}reverse{% endif %}">
      
      <div class="work-image">
        <img src="{{ job.image | relative_url }}" alt="{{ job.title }}">
      </div>

      <div class="work-content">
        <h3>{{ job.title }}</h3>
        <p class="work-place">{{ job.place }}</p>
        <span class="work-date">{{ job.date }}</span>

        <div class="work-text-block">
          <p class="work-text">{{ job.description }}</p>
          <span class="work-toggle" onclick="toggleEduText(this)">...more</span>
        </div>

      </div>
    </div>
    {% endfor %}

  </div>
</section>
</section>

<script>
 function toggleEduText(btn) {
  const text = btn.previousElementSibling;

  text.classList.toggle("expanded");

  if (text.classList.contains("expanded")) {
    btn.innerText = "less";
  } else {
    btn.innerText = "...more";
  }
}

function toggleWorkText(element) {
    const textBlock = element.closest('.work-text-block');
    const preview = textBlock.querySelector('.work-preview');
    const moreLink = textBlock.querySelector('.work-more-link');
    const fullText = textBlock.querySelector('.work-full-text');

    if (fullText.style.display === 'block') {
      fullText.style.display = 'none';
      preview.style.display = '-webkit-box';
      if (moreLink) moreLink.style.display = 'inline-block';
    } else {
      preview.style.display = 'none';
      if (moreLink) moreLink.style.display = 'none';
      fullText.style.display = 'block';
    }
  }
</script>